.categories-item {
  font-size: small;
}
.categories-container {
  overflow: auto;
  max-height: 250px;
}

.align-progress {
  align-self: center;
  text-align: center;
}

.progress-width {
  width: 75%;
}
